
:root{
    --color1:#282728;
    --color2:#1C1C1C;
    --color3:#DC143C;
    --color4:#FE3737;
    
}




* {
    padding: 0px 0px;
    margin: 0px 0px;


}


body {
   
    height:100%;
    width: 100%;
    background-color: var(--color2);

}



@media (min-width:868px)
{
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    
    
    }
    .nav-bar .logo{
        display: flex;
        flex:1;
        margin-left: 25px;
        padding: auto;
        font-size: 28px;
        letter-spacing: 1.5px;
        font-family: arial black;
        color: aliceblue;
        font-weight: 600;
    
    }
    .nav-bar span{
        color: var(--color4);
       
    }
    
    .nav-bar .nav-ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    
    }
    
    .nav-bar .nav-ul .lst  {
    list-style: none;
    
    }
    .nav-ul .lst a{
      text-decoration: none;
        color: aliceblue;
    }
    .nav-bar .nav-ul a:hover {
        color: var(--color3);
    
    
    }
    .sec2 {
        width: 100%;
        height: 630px;
        margin-top: 530px;
        z-index: 1;
        position: absolute;
        color: aliceblue;
        justify-content: center;
    
    
    }
    
    .sec2 .s2-for-sec {
    
        display: flex;
        justify-content: center;
    
    
    }
    
    
    .sec2 .s2-for-sec .div1 {
        width: 280px;
        height: 320px;
        background-color: var(--color1);
        margin: 0px 10px;
    }
    
    .sec2 .s2-for-sec .div2 {
        width: 280px;
        height: 320px;
        background-color: var(--color3);
        margin: 0px 10px;
    }
    
    
    .sec2 .s2-for-sec .div3 {
        width: 280px;
        height: 320px;
        background-color: var(--color1);
        margin: 0px 10px;
    }
    
    .div1 .icon {
        color: var(--color3);
        padding: 0px 20px;
        padding-top: 30px;
        margin: 0px 20px;
        margin-top: 30px;
        font-size: 50px;
    
    }
    
    .div1 h3 {
    
        margin: 20px 35px;
        font-size: 20px;
        font-family: Arial Black;
    }
    
    .div1 p {
        margin-left: 35px;
        margin-bottom: 10px;
        line-height: 25px;
    
    
    
    }
    
    .div1 .btm {
        display: flex;
        margin: 25px 35px;
    
    
    
    }
    
    .btm i {
        margin-left: 12px;
        color: var(--color3);
    }
    
    .btm h4 {
        letter-spacing: 2px;
        font-size: 15px;
    }
    
    
    .div1 .icon {
    
        padding: 0px 20px;
        padding-top: 30px;
        margin: 0px 20px;
        margin-top: 30px;
        font-size: 50px;
    
    }
    
    .div1 h3 {
    
        margin: 20px 35px;
        font-size: 20px;
        font-family: Arial Black;
    }
    
    .div1 p {
        margin-left: 35px;
        margin-bottom: 10px;
        line-height: 25px;
    
    
    
    }
    
    .div .btm {
        display: flex;
        margin: 25px 35px;
    
    
    
    }
    
    .btm i {
        margin-left: 12px;
    }
    
    .btm h4 {
        letter-spacing: 2px;
        font-size: 15px;
    }
    
    
    
    .div2 .icon {
    
        padding: 0px 20px;
        padding-top: 30px;
        margin: 0px 20px;
        margin-top: 30px;
        font-size: 50px;
    
    }
    
    .div2 h3 {
    
        margin: 20px 35px;
        font-size: 20px;
        font-family: Arial Black;
    }
    
    .div2 p {
        margin-left: 35px;
        margin-bottom: 10px;
        line-height: 25px;
    
    
    
    }
    
    .div2 .btm2 {
        display: flex;
        margin: 25px 35px;
    
    
    
    }
    
    .btm2 i {
        margin-left: 12px;
        color: white;
    
    }
    
    .btm2 h4 {
        letter-spacing: 2px;
        font-size: 15px;
    }
    
    
    
    
    
    .div3 .icon {
    
        padding: 0px 20px;
        padding-top: 30px;
        margin: 0px 20px;
        margin-top: 30px;
        font-size: 50px;
        color: var(--color3);
    
    }
    
    .div3 h3 {
    
        margin: 20px 35px;
        font-size: 20px;
        font-family: Arial Black;
    }
    
    .div3 p {
        margin-left: 35px;
        margin-bottom: 10px;
        line-height: 25px;
    
    
    
    }
    
    .div3 .btm {
        display: flex;
        margin: 25px 35px;
    
    }
    

}
@media (max-width:868px)
{

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    
    
    }
    .nav-bar .logo{
        display: flex;
        flex:1;
        margin-left: 18px;
        padding: auto;
        font-size: 20px;
        letter-spacing: 1px;
        font-family: arial black;
        color: aliceblue;
        font-weight: 600;
    
    }

    .nav-bar span{
        color: var(--color4);
       
    }
    .nav-bar .nav-ul {
        display: flex;
        flex: 1;
    
        justify-content:flex-end;
        align-items: center;
        gap: 15px;
        height: 100%;
        
        }

        

.nav-bar .nav-ul .lst  {
    list-style: none;
    
    }
    .nav-ul .lst a{
      text-decoration: none;
        color: aliceblue;
    }
    .nav-bar .nav-ul a:hover {
        color: var(--color3);
    
    
    }

    .sec2 {
        width: 100%;
        height: 600px;
        margin-top: 530px;
        z-index: 1;
        position: absolute;
        color: aliceblue;
        justify-content: center;
    
    
    }


        
    .sec2 .s2-for-sec .div1 {
        width: 280px;
        height: 180px;
        background-color: var(--color1);
        margin: 20px 100px;
    }


    .sec2 .s2-for-sec .div2 {
        width: 280px;
        height: 180px;
        background-color: var(--color3);
        margin: 20px 100px;
    }
    
    
    .sec2 .s2-for-sec .div3 {
        width: 280px;
        height: 180px;
        background-color: var(--color1);
        margin: 20px 100px;
    }
}






.sec1 {

    width: 100%;
    height: 500px;
    position: absolute;

}

.black {
    width: 100%;
    height: 300px;
    background-color:var(--color2);
    position: absolute;
    margin-top: 1900px;




}

.exp {
    width: 50%;
    height: 800px;
    background-color: var(--color2);
    position: absolute;
    margin-top: 450px;
    font-family: Arial Black;

}

.exp .exp-l {
    position: absolute;
    margin-top: 440px;
    margin-left: 310px;
    text-align: center;
    padding: 50px 50px;


}

.exp-l h1 {

    font-size: 80px;
    color: var(--color4);
    margin-bottom: 0px;
    font-weight: 900;
}

.exp-l h3 {
    color: aliceblue;
    margin-top: 0px;
    font-size: 20px;






}

